@{
    Layout = null;
    int i = 0;
}

<div>
    <table style="width: 100%">
        <tr class="home-current-race-header-div">
            <td colspan="4">
                <span style="height: 24px; cursor: pointer;" onclick="PopoutList('@Model.RaceGUID')">POPOUT STANDINGS LIST &#x2934;</span>
            </td>
        </tr>
        @foreach (var item in Model.CurrentRaceStandings)
        {
            var background = i % 2 == 1 ? "background-color: #2a292f" : "background-color: #353535";
            <tr style="text-align: center; @background; border-bottom-width: var(--bs-border-width);">
                <td class="standings-table-object">
                    @(item.FinishPlace != 999 ? (item.FinishTime != "FF" && item.FinishTime != "DQ" ? item.FinishPlace.ToString() : "FF") + ")" : "")
                </td>
                <td style="text-align: left;" class="standings-table-object">
                    <a href="~/racers/index/@item.RacerGUID">@item.RacerName</a> &nbsp;&nbsp; [@item.Ranking]
                </td>
                <td class="standings-table-object">
                    @item.FinishTime
                </td>
                <td class="standings-table-object">
                    @if (item.FinishPlace == 999)
                    {
                        <span style="height: 24px; cursor: pointer;" onclick="SwitchStream('@item.RacerStream', '@item.RacerGUID')">&#9654;</span>
                    }
                </td>
            </tr>

            i++;
        }
    </table>
</div>

<div id="race-switch-div" style="display: none;"></div>

<script>

    function PopoutList(g) {
        window.open('../Home/LiveStandingsPopout/' + g, '', 'width=450,height=510,titlebar=0,menubar=0,toolbar=0,scrollbars=0,resizable=0');

    }

</script>